h1 {
	color: #006699;
	font-family: "Helvetica Neue", sans-serif;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 7px;
	text-align: center;
	text-shadow: 2px 2px 2px #636EFF;
}

h2 {
	color: #006699
}

img {
	alignment: center;
}

body {
	background-color: rgba(137, 166, 87, .4);
	font-family: "Helvetica Neue", sans-serif;
}


