/* basic styles */

html,
body {
	height: 100%;
	background-color: #284271;
}
body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	font-size: 18px;
}

/* font modifications **/
.h1, h1 {
	font-size: 64px;
}
.h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.h1, .h3, h1, h3 {
	font-family: inherit;
	font-weight: 300;
	line-height: 1.5;
	color: inherit;
}

.p {
	font-size: 18px;
}


.main {
	background-color: #284271;
}

/*
 * Header
 */
.masthead-brand {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}

	.masthead-nav {
		float: right;
	}

	.lead {
		font-size: 34px;
	}
}


	/**/
	 /** Affix and center*/
	 /**/

	/*@media (min-width: 768px) {*/
		/* Pull out the header and footer */
		/*.masthead {*/
			/*position: fixed;*/
			/*top: 0;*/
		/*}*/
		/*.masthead-brand {*/
			/*font-size: 24px;*/
		/*}*/

		/*.mastfoot {*/
			/*position: fixed;*/
			/*bottom: 0;*/
		/*}*/
	/*}*/
	/* Start the vertical centering */
	/*.site-wrapper-inner {*/
		/*vertical-align: middle;*/
	/*}*/
	/* Handle the widths */
	/*.masthead,*/
	/*.mastfoot,*/
	/*.cover-container {*/
		/*width: 100%; *//* Must be percentage or pixels for horizontal alignment */
	/*}*/

/********************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
********************************************/

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

/********************************************
* Footer Styles
********************************************/
footer {
	background: #284271;
	color: white;
	font-weight: bold;
	padding: 20px 0;
}